body {
    line-height: 1.5;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .topnav {
    background-color: rgb(45 200 45);
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #d2e4d4;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0e6344;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .topnav input[type="text"] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 11px;
  }
  






  /* Algo-page CSS */


  head
  {
    font-size: 65.5%;
  }
  #container_algo
  {
    font-family: 'Baloo Bhai 2', cursive;
      display: flex;
      /* border : 2px solid red; */
      /* margin: 0.2rem 0px; */
      height: 100%;
      justify-content: space-between;
      background-color: #E6E6E6;
  }
  #container_algo #box1
  {
    border: 0.2rem solid black;
    border-radius: 15px;
    margin: 2vh 1vw;
    padding: 2vh 1.5vw;
    width: 15%;
    /* height: 100%; */
    background-color: #E6E6E6;
    display: block;
    height: 100vh;
    position: sticky;
    top: 1vh;
  }
  #container_algo #box2
  {
    border: 0.2rem solid black;
    border-radius: 15px;
    margin: 2vh 0vw;
    padding: 2vh 1vw;
    width: 65%;
    background-color: #E6E6E6;
    color: black;
  }
   #box3
  {
    border: 0.2rem solid black;
    border-radius: 15px;
    margin: 2vh 1vw;
    padding: 2vh 1.5vw;
    width: 15%;
    /* display: flex;
    flex-direction: column; */
    position: relative;
    top: 1vh;
    flex-wrap: wrap;
    background-color: #E6E6E6;
    color: black;
    display: block;
    height: 100vh;
    position: sticky;
    top: 1vh;
  }
  /*Dont forget to add @media for mobile */
  #box1 #box1item li a
  {
      font-size: 100%;
      margin: 0px;
      padding: 0px;
      text-align: left;
      text-decoration: none;
      vertical-align: baseline;
      color: black;
      flex-wrap: wrap;
  }
  #box1 #box1item li
  {
    line-height: 1.55;
      list-style: none;
      margin: 0px 0px 1.5rem;
     
      
  }
  #box1 #box1item li a:hover
  {
    text-decoration: underline;
      color: saddlebrown;
  }
  #box1
  {
    overflow-wrap: break-word;
    hyphens: auto;
  }
  /* #box1 h3
  {
      margin-bottom: 2rem;
      font-weight: bold;
      color: black;
      position:fixed;
      top: 6rem;
  }
  #box1item
  {
     position:fixed;
    top: 11rem;
  } */
  #maincon .as
  {
    line-height: 1.55;
      margin: 0px 0px 1.5rem;
  }
  #maincon .as a
  {
    font-size: 117%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline;
}
#maincon ol
{
    padding-left: 3.2rem;
}
#maincon .as a:hover
{
    text-decoration: underline;
    color: #4A403A;
}
#box2item h3
  {
      margin-bottom: 2rem;
      font-weight: bold;
  }
  #box2 h1
  {
      margin-bottom: 2rem;
  }
  /* common css for algo */
  .common .as
  {
    line-height: 1.55;
      margin: 0px 0px 1.5rem;
  }
  .common .as a
  {
    font-size: 117%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline;
}
.common ol
{
    padding-left: 4rem;
}
.common .as a:hover
{
    text-decoration: underline;
    color: #4A403A;
}
.cg h3
  {
      margin-bottom: 2rem;
      font-weight: bold;
      text-align: center;
      font-size: 2rem;
  }
  #comment
  {
      display: flex;
      justify-content: center;
      height: 6vh;
  }
  #comment input[type='button']
  {
      border: 2px solid darkblue;
      border-radius: 0.8rem;
      background-color: #e4d9d9;
      color: black;
      width: 35%;
      cursor: pointer;
  }
  #comment input[type='button']:hover
  {
      background-color: purple;
      color: white;
      text-decoration: underline;
  }
  #quote
  {
      font-size: 2rem;
      flex-wrap: wrap;
     position: relative;
     /* position: fixed; */
     top: 5rem;
     /* display: fixed; */
  }
  #quote1
  {
    font-size: 2rem;
    flex-wrap: wrap;
    position: relative;
     top: 5rem;
  }
a{
    color: black;
}
/* @media (max-width:1390px) {
  #quote
  {
    font-size: 1.8rem;
  }
  #quote1
  {
    font-size: 1.8rem;
  }
} */
@media (max-width:998px) {
  html {
        font-size: 55%;
  }
  /* #quote
  {
    font-size: 1.5rem;
  }
  #quote1
  {
    font-size: 1.5rem;
  } */
  
}
@media (max-width:768px) {
  html {
        font-size: 45%;
  }
  #quote
  {
    font-size: 1rem;
  }
  #quote1
  {
    font-size: 1rem;
  }
}

.footer_div {
    max-width: 1170px;
    margin: auto;
    font-family: "Ubuntu", sans-serif;
  }
  .footer_row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #3b590e;
    padding: 70px 0;
  }
  .footer_col {
    width: 25%;
    padding: 0 15px;
  }
  .footer_col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer_col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer_col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer_col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer_col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer_col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer_col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  /* responsive css */
  
  @media (max-width: 767px) {
    .footer_col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px) {
    .footer_col {
      width: 100%;
    }
  }
  #scrollTopBtn {
    background-color: rgba(64, 64, 64, 0.9);
    color: #fff;
    padding: 10px 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    display: none;
    bottom: 0;
    margin-bottom: 0px;
    cursor: pointer;
    right: calc(50% - 20px);
    z-index: 1023;
  /* bottom: 20px;  */
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav input {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .topnav.responsive input {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
      border: 2px solid black;
    }
  }



