* {
  margin: 0px;
  padding: 0px;
}

#nav {
  background-color: rgb(45 200 45);
  padding: 1px;
  position: relative;
}

ul {
  display: flex;
  margin: 21px 129px;
  font-family: "Ubuntu", sans-serif;
}

.item {
  list-style: none;
  font-size: 1.1rem;
}

#nav ul li a {
  text-decoration: none;
  padding: 3px 17px;
  color: white;
}
#nav ul li :hover {
  text-decoration: none;
  padding: 3px 17px;
  color: white;
  background-color: rgb(87, 136, 87);
  border-radius: 23px;
}

#nav input {
  float: right;
  padding: 6px;
  border: none;
  margin-top: -44px;
  margin-right: 39px;
  font-size: 17px;
  border-radius: 11px;
}

.startpage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: 550px;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

.startpage h1 {
  margin: 2px 23px;
  padding: 23px;
  font-size: 60px;
}
.startpage p {
  margin: 4px;
  padding: 11px;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  background-color: rgb(45 200 45);
  margin: 23px;
  font-size: 18px;
}

.btn:hover {
  background-color: #46a049;
}

.algo {
  display: flex;
  border: 2px solid black;
  height: 250px;
  
}
