body {
  line-height: 1.5;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#nav {
  background-color: rgb(45 200 45);
  padding: 1px;
  position: relative;
}

#navul {
  display: flex;
  margin: 21px 129px;
  font-family: "Ubuntu", sans-serif;
}

.item {
  list-style: none;
  font-size: 1.1rem;
}

#nav ul li a {
  text-decoration: none;
  padding: 3px 17px;
  color: white;
}
#nav ul li :hover {
  text-decoration: none;
  padding: 3px 17px;
  color: white;
  background-color: rgb(87, 136, 87);
  border-radius: 23px;
}

#nav input {
  float: right;
  padding: 6px;
  border: none;
  margin-top: -44px;
  margin-right: 39px;
  font-size: 17px;
  border-radius: 11px;
}

.startpage {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 550px;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

.startpage h1 {
  margin: 2px 23px;
  padding: 23px;
  font-size: 60px;
}
.startpage p {
  margin: 4px;
  padding: 11px;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  background-color: rgb(45 200 45);
  margin: 23px;
  font-size: 18px;
}

.btn:hover {
  background-color: #46a049;
}

.intro {
  display: flex;
  /* border: 2px solid black; */
  height: 300px;
  font-family: "Ubuntu", sans-serif;
}

.words {
  width: 80%;
  /* border: 2px solid red; */
}

.words h1 {
  margin: 14px;
  padding: 17px;
  font-size: 42px;
}

.img1 img {
  height: 255px;
  width: 280px;
}

.quote {
  /* border: 2px solid red; */
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
}

.quote h1 {
  font-size: 33px;
  margin: 3px;
  padding: 15px;
  font-family: "Ubuntu", sans-serif;
}

.intro1 {
  display: flex;
  /* border: 2px solid black; */
  height: 300px;
  font-family: "Ubuntu", sans-serif;
  flex-direction: row-reverse;
  background-color: #f1f1f1;
}

.footer_div {
  max-width: 1170px;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}
.footer_row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #3b590e;
  padding: 70px 0;
}
.footer_col {
  width: 25%;
  padding: 0 15px;
}
.footer_col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer_col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer_col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer_col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer_col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer_col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer_col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer_col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer_col {
    width: 100%;
  }
}
#scrollTopBtn {
  background-color: rgba(64, 64, 64, 0.9);
  color: #fff;
  padding: 10px 10px;
  position: fixed;
  width: 40px;
  height: 40px;
  display: none;
  bottom: 0;
  margin-bottom: 0px;
  cursor: pointer;
  right: calc(50% - 20px);
  z-index: 1023;
}

@media (max-width: 967px) {
  #navul {
    flex-direction: column;
  }
}
@media (max-width: 967px) {
  #nav input {
    float: none;
    margin-left: 100px;
  }
}

@media (max-width: 473px) {
  #nav ul li a {
    margin: -57px;
    padding: 0px;
    text-align: left;
  }
}



@media (min-width: 646px) and (max-width: 1000px) {
  .intro {
    flex-direction: column;
    height: 600px;
    width: 100%;
  }
}

@media (min-width: 646px) and (max-width: 1000px) {
  .intro1 {
    flex-direction: column;
    height: 600px;
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 646px) {
  .intro1 {
    flex-direction: column;
    height: 900px;
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 646px) {
  .intro {
    flex-direction: column;
    height: 900px;
    width: 100%;
  }
}

@media (max-width: 967px) {
  .words {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 416px) {
  .quote h1 {
    font-size: 23px;
  }
}

@media (max-width: 416px) {
  .startpage h1 {
    font-size: 47px;
  }
}
